@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  line-height: 1.4;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.logo {
  height: 60px;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  padding: 0px 10px;
  z-index: 50;
}
.bar {
  font-size: 32px;
  cursor: pointer;
  display: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tag {
  background-color: #149f39;
  color: #fff;
  padding: 5px 10px;
  align-self: flex-start;
}
.hero-content h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}
button {
  padding: 10px 15px;
  border: none;
  /* transition: 2s ease-in-out; */
  background-color: rgb(220, 157, 40);
  align-self: start;
  color: #fff;
  font-weight: bold;
}
button:hover {
  opacity: 0.8;

  /* transition: 2s ease-in-out; */
}
.features {
  margin-top: 70px;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  /* justify-content: center;s */
}
.feature {
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 0.2s ease-in-out;
}
.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.divider {
  border: 1px solid gray;
  margin: 20px 0;
}
.menu {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  gap: 30px;
  align-items: center;
}
.menu .tag {
  align-self: center;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
  margin-bottom: 30px;
}
.grid-img {
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  width: 100%;
  width: 100%;
}
.grid-img:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}
footer {
  background-color: #fff0db;
}
.link_lists h3 {
  margin-bottom: 10px;
  color: gray;
}
.link_lists ul {
  list-style: none;
}
.link_lists ul li {
  font-size: 16px;
  margin-bottom: 5px;
}
.news_letter h3 {
  margin-bottom: 10px;
  color: gray;
}
.news_letter input {
  padding: 5px 40px;
  margin-bottom: 10px;
}
.footer_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.icon_container {
  display: flex;
  gap: 15px;
  font-size: 32px;
}
@media (max-width: 768px) {
  .bar {
    display: block;
  }
  .hero {
    flex-direction: column;
  }
  .hero-img img {
    width: 90%;
    margin-bottom: 50px;
  }
  .hero-img {
    display: flex;
    justify-content: center;
  }
  .hero-content {
    padding: 10px;
  }
  .features {
    flex-direction: column;
    align-self: center;
  }
  .grid {
    padding: 10px;
  }
  .footer_container {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .hero {
    gap: 50px;
  }
}
.menu-bar {
}
.menu-bar ul li {
  list-style: none;
}
